.empresaText {
    padding-top:200;
    display: 'inline-flex';
    text-size-adjust: 33;
    font-weight:'bold';
}

.instaText {
    color: purple;
}

.textoSobreNos{ 
    color: red;
}

.empresaText {
    color: blue;
}